<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @user.name %></h3>
    <p>
      You can click on the link below to redefine your password:
    </p>
    <p><%= @url %></p>
    <p>
      This link is valid for 15 minutes.
    </p>
  </body>
</html>
